*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#090d15;
color:white;

}

.container{

display:flex;
justify-content:space-between;
align-items:center;

width:90%;
margin:auto;

min-height:100vh;

}

.texto{

width:45%;

}

.tag{

display:inline-block;

padding:10px 20px;

border:1px solid #44ff88;

border-radius:30px;

color:#44ff88;

margin-bottom:20px;

}

h1{

font-size:70px;

color:#44ff88;

}

.texto p{

margin-top:20px;

font-size:22px;

line-height:35px;

color:#ddd;

}

.chat{

width:420px;

height:620px;

background:#111827;

border-radius:25px;

display:flex;

flex-direction:column;

overflow:hidden;

}

.topo{

display:flex;

align-items:center;

padding:20px;

gap:15px;

border-bottom:1px solid #222;

}

.avatar{

width:45px;

height:45px;

background:#44ff88;

color:black;

display:flex;

justify-content:center;

align-items:center;

border-radius:50%;

font-weight:bold;

}

.mensagens{

flex:1;

padding:20px;

overflow:auto;

}

.ia{

background:#1f2937;

padding:15px;

border-radius:15px;

width:80%;

}

.usuario{

background:#44ff88;

color:black;

padding:15px;

border-radius:15px;

margin-left:auto;

margin-top:15px;

width:80%;

}

form{

display:flex;

padding:15px;

gap:10px;

}

input{

flex:1;

padding:15px;

background:#0f172a;

border:none;

color:white;

border-radius:12px;

}

button{

padding:15px 25px;

background:#44ff88;

border:none;

border-radius:12px;

cursor:pointer;

font-weight:bold;

}
